

main{
  margin: auto;
    width: 30%;
    height: 100vh;
    display: flex;
  flex-direction: column;
    justify-content: space-between;
  }
  .cacl-contineer{
    box-sizing: border-box;
    padding-left: 12px;
    background-color: aliceblue;
    border-radius:15px ;
    display: flex;
    height: 15%;
    margin-top: 5%;
    justify-content: space-around;
    align-items: center;

  }
  .equal-value{
    font-size: larger;
    color: green;
    background-color: inherit;
    text-align: center;
    width: 20%;
  }

.btns-grid{
      font-size: larger;
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;  }
  .btns-grid >button{
    background-color: rgb(63, 63, 238);

  }

  button.operations-btn{
    background-color: orange;
  }

  .equal-operation{
    font-weight: bolder;
    width: 100%;
    height: 15%;
    display: block;
    background-color: rgb(8, 133, 8);
  }


  .entered-values{
    background-color: inherit;
    outline: none;
    border: none;
    font-weight:3000px;
    border: none;
    display: block;
    width: 50%;
    font-size:large;
  }
  
  /* Mobile screen (screens smaller than 768px) */
@media (max-width: 768px) {
  main {
    width: 95%; /* Adjust the width for smaller screens (e.g., mobile devices) */
  }
}
