


main{
  width: 40%;
  margin: auto;
  height: 80vh;
  background-color: gainsboro;
}

.btns-graid{
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}
